@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 130%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #121212;
    color: #fff;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content {
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.tagline {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #cccccc;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #2F95EC;
    transform: scale(1.05);
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #2e2e2e;
    text-align: center;
}

.feature {
    max-width: 200px;
}

.feature i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #2F95EC;
}

.feature h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #ffffff;
}

.feature p {
    color: #cccccc;
}

.testimonial {
    background-color: #2F95EC;
    color: #121212;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-left: 10px solid #2e2e2e;
    border-radius: 5px;
    font-size: 1.3rem;
    font-style: normal;
}

.testimonial p {
    margin: 0;
    line-height: 1.5;
    font-weight: bold;
}



.scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    right: 10%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
#countdown {
    font-size: 2rem;
    color: #2F95EC;
    text-align: center;
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #121212; /* Match the main body background */
    border-top: 2px solid #2F95EC; /* Add a top border */
    color: #fff;
    display: flex;
    justify-content: space-between; /* Align items to the corners */
    padding: 10px;
    font-size: 12px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #121212;
    border-top: 2px solid #2F95EC;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.footer-text-left, .footer-text-right {
    color: #ffffff;
}
.footer-text-right
{
	margin-right: 20px;
}
.purple-text {
    color: purple;
}

